body {
  text-align: center;
  font-family: Calibri;
  margin: center;
  max-width: 1280px;
}


.navbar {
  margin:0 auto;
  font-family: Garamond;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: maroon;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: white;
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 5px;
  background: gold;
}


